
  body{
  width: 100%;
  overflow-x: hidden; 
} 
.about-section{
  background: black;
  background-size: cover;
}


#eduimage{
    width: 90%;
    
}
  #eduhead{
    background: #e0dada;
    
  }
  .card-body{
    width: 50%;
    
    border: 6px solid white;

  }
  #skillhead{
    background: #e0dada;
  }
  .skillbtn{
    margin: 5px;
  }
.skillicons{
  
  margin: auto;
  
}





footer{
  width: 100%;
  height: 5em;
  background-color: black;
}



